*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.S1
{
    height:50vh;
    width: 100%;
}

.form 
{
    padding: 3.125em;
    margin: auto;
    width: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.pro 
{
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
}
.form--input
{
    width: 100%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
}
.form--input:focus 
{
    border: 1px solid #639;
    outline: none;
}
.form--marketing 
{
    display: flex;
    margin-bottom: 1.25em;
    align-items: center;
}
.form--marketing > input 
{
    margin-right: 0.625em;
} 
.form--marketing > label 
{
    color: grey;
}
.checkbox, input[type="checkbox"] 
{
    accent-color: #639;
}
.form--submit 
{
    width: 50%;
    padding: 0.625em;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: 1px dashed #639;
    cursor: pointer;
}
.form--submit:hover 
{
    color: #639;
    background-color: white;
    border: 1px dashed #639;
    cursor: pointer;
    transition: 0.5s;
}

.S2
{
    padding-top: 100px;
    margin: 0 10px;
}
.card 
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.card div
{
    width: 280px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin-bottom:50px;
    text-align: center;
    border-radius:10px;
}
.card div h3
{
    font-size: 30px;  
}
.card div p
{
    color: black;
    word-wrap: break-word;
    padding: 10px;
}
.card div img
{
    width: 100%;
    padding: 50px;
}